<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.mysoukhin">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MySoukhin"
        tools:targetApi="31">
        <activity
            android:name=".ui.ScanQRCodeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.SeeReviewsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.PendingOrder"
            android:exported="false" />
        <activity
            android:name=".ui.ReviewActivity"
            android:exported="false" />
        <activity
            android:name=".ui.PaymentActivity"
            android:exported="false" />
        <activity
            android:name=".ui.StatusActivity"
            android:exported="false" />
        <activity
            android:name=".ui.CartsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.CategoryPhone"
            android:exported="false" />
        <activity
            android:name=".ui.CategoryMug"
            android:exported="false" />
        <activity
            android:name=".ui.CategoryCap"
            android:exported="false" />
        <activity
            android:name=".ui.CategoryShirt"
            android:exported="false" />
        <activity
            android:name=".ui.AllHoodies"
            android:exported="false" />
        <activity
            android:name=".ui.OrderHistory"
            android:exported="false" />
        <activity
            android:name=".ui.CategoryGift"
            android:exported="false" />
        <activity
            android:name=".ui.TokenHistory"
            android:exported="false" />
        <activity
            android:name=".ui.ProductsShowAll"
            android:exported="false" />
        <activity
            android:name=".ui.CartsFragment"
            android:exported="false"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".ui.ProductDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.TokenActivity"
            android:exported="false" />
        <activity
            android:name=".ui.UploadHistory"
            android:exported="false" />
        <activity
            android:name=".ui.CheckOutActivity"
            android:exported="false" />
        <activity
            android:name=".ui.AddressActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ShippingAddressActivity"
            android:exported="false" />
        <activity
            android:name=".ui.CategoryActivity"
            android:exported="false" />
        <activity
            android:name=".ui.AddProductActivity"
            android:exported="false" />
        <activity
            android:name=".ui.MainActivity"
            tools:ignore="MissingClass" />
        <activity
            android:name=".ui.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_test_vbNhmU7c4U2Fab" />
    </application>

</manifest>